#title {
    text-align: center;
    font-size: 50px;
    margin: 20px 0;

    color: #38352e;
}

#calculator #result {
    height: 40px;
    text-align: center;
    align-self: center;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 20px;

    font-size: 40px;

    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    padding: 15px 0px;

    border-color: #38352e;
}

#calculator {
    margin-top: 30px;
    width: max-content;
    margin-left: auto;
    margin-right: auto;

}

#buttonGrid {

    display: flex;
    flex-direction: column;
    gap: 4px;


    /* margin-left: 168px; */
}

#back, #clr {
    background-color: #38352e;

    color: beige;

}

button {
    border-radius: 20%;
    border-color: transparent;
    width: 100px;
    height: 100px;

    font-size: large;
}

.smallButton {
    width: 80px;
    font-size: small;
    background-color:#1eb2e8;
}

